//----------------------------------------------------------------------------------------------------
// Container
//----------------------------------------------------------------------------------------------------
// Use:
// <div class="c-container">...</div>
//
// Modifire:
// c-container--[ sm | lg ]
//----------------------------------------------------------------------------------------------------
@use "../../global" as *;

$block: 'c-container';

.#{$block} {
	max-width: 1000px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.#{$block} {
  &--sm {
    max-width: 980px;
  }
  &--lg {
    max-width: 1200px;
  }
}